.game-info__container {
    width: 450px;
    margin: 0 auto;
    text-align: left;
}

.info-list {
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
}

.game-info .btn {
    margin-bottom: 30px;
}