.game-over .title__main {
	font-family: var(--game-over-font-family);
    font-size: 60px;
	text-align: center;
	text-shadow: 5px 5px var(--dark-color);
	color: var(--light-color);
}

.game-over .heading__description {
    font-size: 20px;
    margin-top: 40px;
}

.game-over__btn {
    display: block;
    margin: 0 auto;
}

@media (min-width: 720px) {
    .game-over .title__main {
        font-size: 100px;
    }
    
    .game-over .heading__description {
        font-size: 20px;
    }

    .game-over__btn {
        margin-top: 50px;
    }
}