.game-over .heading {
    padding-top: 100px;
}

.game-over .heading__title {
    font-size: 130px;
	font-family: 'Black Ops One', cursive;
	line-height: 120px;
	text-align: center;
	text-shadow: 5px 5px #000000;
	color: #ffffff;
}

.game-over .heading__subtitle {
    font-size: 40px;
    margin-top: 50px;
}

.game-over .btn {
    margin-top: 70px;
}