.playing-game .title__prefix {
    display: block;
    text-shadow: 4px 4px var(--dark-color);
}

.playing-game .title__main {
    display: block;
	text-shadow: 4px 4px var(--dark-color);
	color: var(--secondary-color);
    margin: 0;
}

.heading__text {
    color: var(--secondary-color);
}
