.heading {
    padding: 10px 0;
}

.heading .title {
    text-align: center;
}

.title__prefix {
    font-size: 24px;
    text-shadow: 4px 4px var(--dark-color);
}

.title__main {
    font-size: 36px;
    margin: 20px 0;
}

.heading__wrapper {
    text-align: center;
}

.heading__description {
    font-size: 13px;
    margin: 20px 0;
}

@media (min-width: 720px) {
    .title__prefix {
        font-size: 30px;
    }
    .title__main {
        font-size: 48px;
    }

    .heading__description {
        max-width: 620px;
        font-size: 16px;
    }
}