.secret-word {
    margin: 2.5em 0;
    padding: 1em;
    padding-bottom: 2em;
    border: 20px solid #ecfa00;
}

.secret-word__display {
    text-align: center;
    font-weight: bold;
}

.secret-word__score,
.secret-word__points {
    margin-right: 15px;
}

.secret-word__letters {
    text-align: center;
    display: flex;
}

.secret-word__letter,
.secret-word__blank-square {
    font-size: 40px;
    line-height: 1.5;
    border: 3px solid #333;
    height: 60px;
    width: 60px;
    text-transform: uppercase;
    background-color: #fff;
    color:#333;
    font-weight: bold;
}