.secret-word {
    --mask: radial-gradient(25px at 25px 25px, #0000 98%, #000) -25px -25px;
    -webkit-mask: radial-gradient(25px at 25px 25px, #0000 98%, #000) -25px -25px;
    mask: radial-gradient(25px at 25px 25px, #0000 98%, #000) -25px -25px;
    border: 25px solid #ecfa00;
    margin: 40px 0; 
    padding: 20px 15px 50px 15px;
}

.secret-word__display {
    text-align: center;
    font-weight: bold;
}

.secret-word__score,
.secret-word__points {
    margin-right: 15px;
}

.secret-word__letters {
    text-align: center;
    display: flex;
}

.secret-word__letter,
.secret-word__blank-square {
    font-size: 40px;
    line-height: 1.5;
    border: 3px solid #333;
    height: 60px;
    width: 60px;
    text-transform: uppercase;
    background-color: #fff;
    color:#333;
    font-weight: bold;
}